body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

.tools a{
display:block;
margin:10px;
padding:15px;
background:#007bff;
color:white;
text-decoration:none;
width:250px;
margin-left:auto;
margin-right:auto;
border-radius:5px;
}
